.container{
  position: relative;
  padding-bottom: 44px;
}
.home-image{
  position: relative;
  width: 100%;
  img{
    width: 100%;
    box-shadow: 0 2px 3px #aaa;
  }
  .home-info{
    position: absolute;
    padding: 10px;
    margin-top: -110px;
    margin-left: -110px;
    top: 50%;
    left:50%;
    width: 220px;
    height: 220px;
    background: rgba(241, 241, 241, .6);
    border: 4px rgba(241, 241, 241fff, .6) solid;
    box-sizing: border-box;
    background-clip: content-box;
    .hospital-info{
      font-size: 18px;
      color: @globalTextColor;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px #fff solid;
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .hospital-meta{
      font-size: 16px;
      color: @globalTextColor;
      text-align: center;
      padding: 20px 0;
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.home-button{
  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: -50px;
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background: #d99694;
  border: 2px #fff solid;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 16px;
}
.home-intro{
  margin-top: 50px;
  font-size: 16px;
  color: @globalTextColor;
  text-align: center;
  padding: 10px 0;
}

// 第二个页面
.default{
  background: #fbf9fe;
}
.intro{
  padding:  15px;
  color: @globalTextColor;
  font-size: 14px;
  text-align: justify;
  p {
    text-align: center;
  }
  .detail{
    text-align: justify;
  }

}
// 选择
.choose-help{
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	.choose-help-left{
		color: #888;
		.weui_cells_checkbox{
			i {
				display: inline-block;
			}
		}
		span {
			display: inline-block;
			vertical-align: super;
		}
	}
	.choose-help-right{
		color: #888;
	}
}
.weui_cells{
  margin-top: 0;
}
.weui_cell svg{
  margin-right: 5px;
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}
.pay-info{
  padding-top: 20px;
  color: @globalTextColor;
  font-size: 14px;
  text-align: center;
  span {
    color: #F44;
    font-size: 20px;
  }
}
footer{
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: @globalTextColor;
}
